.container{
    /* background-color: black; */
    width: 1000px;
    height: 800px;
    position: relative;
}
.item{
    margin-top: 80%;
    background-color: white;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 요소를 가운데 정렬합니다. */
}
.busted {
    
}


/* 강사님 코드
.container {
    background-color
    top : 300px;
    left : 300px;

}



*/