.modal-container{
    background-color: transparent;
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
.modal-item{
    margin: 30% auto;
    background-color: green;
    width: 50%;
    height: 50%;
    

}
.display-none{
    display: none;
}