main > div {
    box-sizing: border-box; 
    width: 800px;
    float: left;
    border: 1px dashed gray;
    width: 270px;
    height: 200px;
    margin: 10px;
}
footer {
    color: white;
    background-color: black;
    width: 561px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    clear: left;
    margin: 10px;
}
