* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
.container {
    background-color: #fff;
    width: 650px;
    height: 900px;
    margin: 1rem auto;
    padding: 2rem;
    background-image: url(./meerkat.png);
    background-repeat: no-repeat;
    background-position: bottom 3px right 3px;
    border: 2px dotted #2d2d2d;
}
h1 {
    background-color: rgb(4, 72, 81);
    color: white;
    padding: 1.3rem;
    text-align: center;
    width: 550px;
    margin: 0 auto;
}
h2 {
    width: 550px;
    text-align: center;
    margin: 2rem auto;
}
h3 {
    color: red;
    margin: 1rem;
}
ul {
    list-style-type: none;
    margin-left: 3rem;
}
li {
    margin: 0.5rem;
}