div {
    width: 600px;
    height: 870px;
    margin: 1px 50px 30px;
    border: 1px solid white;
    background-color: white;
}
h1 {
    width: 500px;
    height: 80px;
    margin: 50px; 
    background-color: rgb(4, 72, 81);
    color: white;
    line-height: 80px;
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    color: red;
    margin: 20px 50px 0px;
}
p {
    margin: 10px 80px;
    line-height: 160%;
}