/* 전체 선택자 */
* {
    color: aqua;
}

/* 타입 선택자 */
h1 {
    color: red;
}

p {
    color: green;
}

/* class 선택자 */
.color-orange {
    color: orange;
}
.font-size-3rem {
    font-size: 3rem;
}
.color-black { 
    color: black;
}

/* id 선택자 */
#p-2 {
    color: blueviolet;
}

/* 그룹 선택자 (타입, class, id 도 올 수 있음) */
h1, p {
    color: brown;
}
