ul {
    list-style-type: none;
}
/* ul에 display: inline 넣어봤는데 안먹힘 */
li {
    display: inline-block;
    background-color: gray;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    /* line-height를 넣어서 부모요소랑 같은 값을 주면
       정중앙에 배치됨 */
    margin-right: -6px ;
    border: 3px solid #000;
    box-sizing: border-box;
    border-right: none;
}
.right {
    border-right: 3px solid #000 ;
}